<h1>Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :remember_token, "Remember Login?" %>
  <%= f.check_box :remember_token %>
  <%= f.submit "Log in" %>
<% end %>
